<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>Transcribe! Help</string>
	<key>CFBundleIconFile</key>
	<string>THVAPPICN.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.seventhstring.Transcribe!Help</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>7SSr</string>
	<key>CFBundleVersion</key>
	<string>8.71</string>
	<key>CFBundleShortVersionString</key>
	<string>8.71</string>
	<key>CFBundleGetInfoString</key>
	<string>Transcribe! Help 8.71, Copyright 1998-2018 Seventh String Software</string>
</dict>
</plist>
