.navbar {
    margin-bottom: 0px; 


}

.hero {
    background-image: url();
    height: 400px;

}


#main {
    position: absolute;
}

.central-image {  

    position: relative;
    top: -319px;
}

.section-content {
    padding: 30 px 0;

}

.second-hero {
   background-image: url('https://unsplash.it/1900/1080?image=1081');
   height: 400px;
   background-size: cover;

}