*:focus {
    outline: none;
}

body {
    background: url("forest.jpeg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    /* overflow: hidden; */
}

::-webkit-scrollbar {
    display: none;
}

/* ======================= text =========================*/
h1,
h2,
::placeholder,
#go-button,
input,
.guesses,
#rest-button,
#hint-button,
p {
    color: #3A5E7A;
    font-family: 'Times New Roman', Times, serif, serif;
    text-align: center;
}

h1 {
    font-size: 50px;
    margin-top: 9%;
}

h2 {
    font-weight: 400;
}

::placeholder {
    color: #9FC2C9;
    text-indent: 9px;
}

#input:hover::-webkit-input-placeholder {
    color: #B8D4DB;
}

#hint p {
    margin-top: 39px;
    font-size: 18px;
}

p {
    text-align: center;
}

.win-lose {
    color: red;
    font-weight: 700;
}

/* ======================= tempurature images =========================*/
.cold-back {
    position: absolute;
    width: 100%;
    height: 95%;
    margin-top: 0;
    min-height: 400px;
    overflow: hidden;
}

#hot-back,
#cold-back {
    position: absolute;
    width: 100%;
    height: 100%;
    min-height: 500px;
    overflow: hidden;
}

#hot-back {
    visibility: hidden;
    background-color: orange;
    opacity: 0.2;
}

#cold-back {
    visibility: hidden;
    background-color: #7FB0E8;
    opacity: 0.4;
}

#flames-large {
    visibility: hidden;
    position: fixed;
    font-size: 600px;
    bottom: -460px;
    left: -60px;
    font-family: Arial;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    z-index: -1
}

#lukewarm {
    color: #7A2A57;
}

#chilly {
    color: #0D9BB5;
}

#firstFrost {
    visibility: hidden;
}

#secondFrost {
    visibility: hidden;
}

#thirdFrost {
    visibility: hidden;
}

/* ========================= backgrounds ===========================*/
h1,
h2,
input,
button,
.guesses {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}

#game-holder,
#transparent-back {
    position: absolute;
    top: 5%;
    left: 50%;
    margin-left: -300px;
}

#game-holder,
#transparent-back,
#centered-back {
    width: 600px;
    height: 80%;
    min-height: 525px;
}

#centered-back {
    background-color: pink;
    position: relative;
    margin: auto;
}

#transparent-back {
    background-color: white;
    z-index: -2;
    opacity: 0.7;
}

/* ================================= buttons ==================================*/
#go-button {
    position: relative;
    top: -39px;
    left: 335px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 15px;
    font-weight: bold;
}

#go-button,
#rest-button,
#hint-button {
    color: #EAF1FF;
    background-color: #556E4B;
    border-color: #556E4B;
    border-style: groove;
    border-width: 2px;
}

#go-button:hover,
#rest-button:hover,
#hint-button:hover {
    background-color: #6A8A5E;
    border-color: #6A8A5E;
}

#buttons-container {
    position: absolute;
    left: 50%;
    top: 92%;
    width: 150px;
    margin-left: -75px;
}

#rest-button {
    float: left;
}

#hint-button {
    float: right;
}

#rest-button,
#hint-button {
    padding: 4px 10px;
    border-radius: 5px;
}

#hint button {
    float: right;
    font-family: Arial;
    color: #3A5E7A;
}

/* ========================= input ===========================*/
input {
    height: 100px;
    width: 100px;
    background-color: #EAF1FF;
    border-color: #C4E2ED;
    border-width: 5px;
    font-size: 65px;
    text-align: center;
    border-radius: 50%;
    border-style: inset;
    margin-left: 250px;
    margin-top: 20px;
}

input[type='number'] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* ===================== guesses display =======================*/
.guesses {
    padding: 20px;
    background-color: #EAF1FF;
    font-size: 40px;
    font-weight: 400;
    border-radius: 5px;
    border: 3px solid #3A5E7A;
}

.guesses:not(:last-child) {
    margin-right: 20px;
}

#guesses-container {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 14%;
}

/* ====================== hints display =======================*/
#hint {
    position: absolute;
    z-index: 5;
    border-radius: 3px;
    border: 2px solid #3A5E7A;
    background-color: white;
    height: 100px;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    top: -100px;
    margin-top: -50px;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(0, 1, 0.4, 1);
}

#hint.closed {
    top: 50%
}

/* ====================== hints display =======================*/
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: white;
    min-width: 700px;
}

#fullstack-logo {
    float: left;
    margin-left: 5%;
}

#grace-hopper-logo {
    float: right;
    margin-right: 5%;
    margin-top: 4px;
}

#project-by {
    position: absolute;
    bottom: -1px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
    font-family: Arial;
    color: darkgray;
}
